# Godot 4+ specific ignores
out
bin
.godot/
android/
.export/

# Ignore debug builds of steikemann plugin, due to filesize
**/lib/*debug*.so
**/lib/*release*.so

# other
project/.vscode

# Obsidian
.obsidian/workspace.json

# Build
build**/

# Python
.venv

# VSCode
.vscode/

# Zed
.zed/
